node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
public/.DS_Store
Thumbs.db

.env
.env.*
!.env.example

data/*.json
uploads/*
!uploads/.gitkeep
!uploads/audio/
!uploads/covers/
!uploads/profiles/
uploads/audio/*
uploads/covers/*
uploads/profiles/*
!uploads/audio/.gitkeep
!uploads/covers/.gitkeep
!uploads/profiles/.gitkeep

tmp/*
!tmp/.gitkeep

*.log
